{% load crispy_forms_tags %}

{% csrf_token %}




<div class="row">
    <div class="col-12">
    {{ form.type_of_signal|as_crispy_field }}
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label" for="{{ form.mean.auto_id }}">{{ form.mean.label }}</label>
    <div class="col-sm-8">
        <input type="number" name="{{form.mean.name}}" value="{{form.mean.value}}" step="any" class="numberinput form-control" required="" id="{{form.mean.auto_id}}">
    </div>
    
</div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label" for="{{ form.scope.auto_id }}">{{ form.scope.label }}</label>
    <div class="col-sm-8">
        <input type="number" name="{{form.scope.name}}" value="{{form.scope.value}}" step="any" class="numberinput form-control" required="" id="{{form.scope.auto_id}}">
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label" for="{{ form.count_of_periods.auto_id }}">{{ form.count_of_periods.label }}</label>
    <div class="col-sm-8">
        <input type="number" min=2 name="{{form.count_of_periods.name}}" value="{{form.count_of_periods.value}}" step="any" class="numberinput form-control" required="" id="{{form.count_of_periods.auto_id}}">
    </div>
    <div class="col-sm-12">
        <input type="range" value="{{form.count_of_periods.value}}" class="slider" id="count_of_periods_range">
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label" for="{{ form.frequency_sampling.auto_id }}">{{ form.frequency_sampling.label }}</label>
    <div class="col-sm-8">
        <input type="number" name="{{form.frequency_sampling.name}}" value="{{form.frequency_sampling.value}}" step="any" class="numberinput form-control" required="" id="{{form.frequency_sampling.auto_id}}">
    </div>

    <div class="col-sm-12">
        <input type="range" value="{{form.frequency_sampling.value}}" class="slider" id="frequency_sampling_range">
    </div>

</div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label" for="{{ form.period_sampling.auto_id }}">{{ form.period_sampling.label }}</label>
    <div class="col-sm-8">
        <input type="number" name="{{form.period_sampling.name}}" value="{{form.period_sampling.value}}" step="any" class="numberinput form-control" required="" id="{{form.period_sampling.auto_id}}">
    </div>

    <div class="col-sm-12">
        <input type="range" value="{{form.period_sampling.value}}" class="slider" id="period_sampling_range">
    </div>

</div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label" for="{{ form.frequency.auto_id }}">{{ form.frequency.label }}</label>
    <div class="col-sm-8">
        <input type="number" name="{{form.frequency.name}}" value="{{form.frequency.value}}" step="any" class="numberinput form-control" required="" id="{{form.frequency.auto_id}}">
    </div>

    <div class="col-sm-12">
        <input type="range" value="{{form.frequency.value}}" class="slider" id="frequency_range">
    </div>
</div>

{% if form.errors %}
    {% for messages in form.errors.values %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<button type="submit" class="btn btn-success d-none" id="butt">{{ button_name }}</button>

<script>

    var time_reloud = null; 

    let timerId = setInterval(
        () => {
            if(
                time_reloud && Date.now() - time_reloud > 1500
            ){
                $("#butt").click();
            }
        }, 
    1500);

    const freq_range_updater = (N) => {
        var slider = $("#frequency_sampling_range").data("ionRangeSlider");
        
        if(N < 0){
            N = 0;
            $('#id_frequency_sampling').val(N);
        }
        update_data = {
            from: N,
        }
        slider.update(update_data)
    };



    const f_range_updater = (N) => {
        var slider = $("#frequency_range").data("ionRangeSlider");
        update_data = {
            from: N
        }
        slider.update(update_data)
    };


    const period_range_updater = (N) => {
        var slider = $("#period_sampling_range").data("ionRangeSlider");
        update_data = {
            from: N
        }
        slider.update(update_data)
    }

    $("#id_count_of_periods").on('input', (e) =>  {
        time_reloud = Date.now();
    });

    $("#id_scope").on('input', (e) =>  {
        time_reloud = Date.now();
    });

    $("#id_mean").on('input', (e) =>  {
        time_reloud = Date.now();
    });

    $("#id_type_of_signal").change((e) =>  {
        time_reloud = Date.now();
    });

    $( "#id_frequency_sampling" ).on('input', (e) =>  {
        var fd = $('#id_frequency_sampling').val();
        if(fd < 0){
            fd = 0;
            $('#id_frequency_sampling').val(fd);
        }
        $("#id_period_sampling").val(1/fd);
        $("#id_frequency").val(parseInt(fd/2));
        freq_range_updater(fd);
        period_range_updater(1/fd);
        f_range_updater(parseInt(fd/2));
        time_reloud = Date.now();
      });
    
      $( "#id_period_sampling" ).on('input', (e) =>  {
        var td = $('#id_period_sampling').val();
        if(td < 0){
            td = 0;
            $('#id_period_sampling').val(td);
        }
        $("#id_frequency_sampling").val(1/td);
        $("#id_frequency").val(parseInt((1/td)/2));
        freq_range_updater(1/td);
        period_range_updater(td);
        f_range_updater(parseInt((1/td)/2));
        time_reloud = Date.now();
      });

      $( "#id_frequency" ).on('input', (e) =>  {
        var f = $('#id_frequency').val();
        if(f < 0){
            f = 0;
            $('#id_frequency').val(f);
        }
        var fd = $('#id_frequency_sampling').val();
        if(f*2 > fd){
            console.log(fd, f)
            $("#id_frequency_sampling").val(f*2);
            freq_range_updater(f*2);
            period_range_updater(1/(f*2));
            $("#id_period_sampling").val(1/(f*2));
        }

        f_range_updater(f);
        time_reloud = Date.now();
      });
      
      $( "#count_of_periods" ).on('input', (e) =>  {
        var N = $('#count_of_periods').val();
        var slider = $("#count_of_periods_range").data("ionRangeSlider");
        
        if(N < 1){
            N = 1;
            $('#count_of_periods').val(N);
        }

        update_data = {
            from: N,
        }
        slider.update(update_data);
        time_reloud = Date.now();
      });


    $("#count_of_periods_range").ionRangeSlider({
        grid: true,
        skin: "big",
        type: "single",
        from: `{{form.count_of_periods.value}}`,
        min: 2,
        max: 200,
        onChange: function(data) {
            $("#id_count_of_periods").val(data.from);
            time_reloud = Date.now();
        }
      }); 

      $("#frequency_sampling_range").ionRangeSlider({
        grid: true,
        skin: "big",
        type: "single",
        from: `{{form.frequency_sampling.value}}`,
        min: 0,
        max: 10000,
        onChange: function(data) {
            $("#id_frequency_sampling").val(data.from);
            $("#id_period_sampling").val(1/data.from);
            $("#id_frequency").val(parseInt(data.from/2));

            period_range_updater(1/data.from);
            f_range_updater(parseInt(data.from/2));
            time_reloud = Date.now();
        }
      }); 


      $("#period_sampling_range").ionRangeSlider({
        grid: true,
        skin: "big",
        type: "single",
        from: `{{form.period_sampling.value}}`,
        min: 0,
        step: 0.000001,
        max: 1,
        onChange: function(data) {
            $("#id_period_sampling").val(data.from);
            $("#id_frequency_sampling").val(1/data.from);
            $("#id_frequency").val(parseInt((1/data.from)/2));

            freq_range_updater(1/data.from);
            f_range_updater(parseInt((1/data.from)/2));
            time_reloud = Date.now();
        }
      }); 

      $("#frequency_range").ionRangeSlider({
        grid: true,
        skin: "big",
        type: "single",
        from: `{{form.frequency.value}}`,
        min: 0,
        max: 200,
        onChange: function(data) {
            $("#id_frequency").val(data.from);

            var fd = $('#id_frequency_sampling').val();
            if(data.from*2 > fd){
                $("#id_frequency_sampling").val(data.from*2);
                freq_range_updater(data.from*2);
                period_range_updater(1/(data.from*2));
                $("#id_period_sampling").val(1/(data.from*2));
            }
            time_reloud = Date.now();
        }
      }); 


      
</script>
