{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block main %}

    <div class="col-12 ml-md-4 mt-2">
        <a class="btn btn-outline-primary" href="{% url 'main-page' %}" role="button"><- Головна сторінка</a>
    </div>
    <div class="vh-100 d-flex justify-content-around my-3">
        <div class="row m-0 p-0 col-md-3 col-12">
            <div class="border p-5 col-12"> 
                {% block form %}
                    <form method="post" enctype="multipart/form-data" action={% url request.resolver_match.url_name %}>
                        {% if request.resolver_match.url_name == "time-analysis" %}
                            {% include 'analytic_fields.html' with form=form button_name='Обробити дані' %}
                        {% else %}
                            {% include 'analytic_fields_with_range.html' with form=form button_name='Обробити дані' %}
                        {% endif %}
                    </form>
                {% endblock form %}
                
                {% if data %}
                    <table class="table table-bordered my-5">
                        <thead>
                        <tr>
                
                            <th scope="col">#</th>
                            {% for column_name in data.headers %}
                            <th scope="col">{{column_name}} {% if forloop.counter == 1 %} (c) {% else %} (Гц) {% endif %}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, values in data.calculated_data.analytics_data.items %}
                        <tr>
                            <th scope="row">{{values.label}}</th>
                            {% for k, v in values.value.items %}
                            <td>{{v|floatformat:3}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row">Період дескрітизації</th>
                            <td colspan="2"> {{ data.calculated_data.graphs_data.period_descritiatcii|floatformat:5 }} (с) </td>
                        </tr>
                        <tr>
                            <th scope="row">Частота дескрітизації</th>
                            <td colspan="2"> {{ data.calculated_data.graphs_data.chastota_descritiatcii|floatformat:2 }} (Гц) </td>
                        </tr>
                        <tr>
                            <th scope="row">Кількість відліків</th>
                            <td colspan="2"> {{ data.calculated_data.graphs_data.kilkist_vidlikiv|floatformat:2 }} (б/р)</td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

        <div class="col-md-8 col-12 m-0 p-0"> 
            {% block analytics %}
                {% include "analytic_data.html" with data=data %}
            {% endblock analytics %}
        </div>
    </div>
{% endblock main %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock script%}