{% extends "base.html" %}


{% block script %}
<script type="text/javascript">
      $(window).on('load', function() {
        if (sessionStorage.getItem("loaded") === null) {
          sessionStorage.setItem("loaded", "loaded");
          $('#infoModal').modal('show');
       }
      });
   
</script>

{% endblock %}


{% block main %}

<div class="modal show" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <button type="button" class="close offset-11 col-1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p class="text-justify">
              Інформаційне модальне вікно, яке буде заповнено після сформування кінцевого 
              результата програми. Наразі цей текст написаний для того щоб, людина
              яка подивиться цей сайт зрозуміла нащо я потрібен. Бо всі думають, що 
              мене потрібно видалити!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="d-flex justify-content-center">
    <div class="col-12 d-flex justify-content-center flex-column text-center">
        <p class="h1 text-center">Автоматизована система обробки сигналів</p>
        <p class="text-justify text-center">Шановний користувач, Ви знаходитеся на початковому екрані Автоматизованої системи</p>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <div class="col-3 card" style="width: 13rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Random-data-plus-trend-r2.png" class="card-img-top" style="width:auto;" alt="Часовий аналіз">
        <div class="card-body">
          <p class="h4 text-center card-text">
            Первина оцінка сигналу зі встановлення файлу
          </p>
          <p class="card-text">
            Сторінка по обробці детерміновах та стохастичних сигналів, які беруться з завнатаженого файлу. 
          </p>
          <a href="{% url 'time-analysis' %}" class="btn btn-primary stretched-link">Перейти</a>
        </div>
    </div>

    <div class="col-3 card ml-5" style="width: 13rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9nqEBXUadiYT7BKUy9mPUdndZtze6Tv00lkdTradn3kAxTO8Uq9-c6DbxGy3Jkb6fHcw&usqp=CAU" class="card-img-top" style="width:auto;" alt="Часовий аналіз">
      <div class="card-body">
        <p class="h4 text-center card-text">
          Генерація тестових коливальних сигналів
        </p>
        <p class="card-text">
          Сторінка по генерації тестових коливальних сигналів. 
        </p>
        <a href="{% url 'custom-time-analysis' %}" class="btn btn-primary stretched-link">Перейти</a>
      </div>
  </div>
  </div>
{% endblock main %}